<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
	 <select id="list" resultType="com.example.domain.UserVO">
	 	select * from tbl_user 
	 	order by u_date desc limit 0, 5;
 	 </select>
 	 <select id="read" resultType="com.example.domain.UserVO">
	 	select * from tbl_user 
		where u_code=#{u_code};
 	 </select>
 	 <insert id="insert">
		insert into tbl_user
		(u_code, u_name, u_address,u_tel,
		 u_id, u_pass, u_adult, u_date,
		 manner, r_count, u_type, u_status, u_photo
		)
		values
		(#{u_code}, #{u_name}, #{u_address},#{u_tel},
		#{u_id}, #{u_pass},#{u_adult},#{u_date},#{manner},
		#{r_count},#{u_type},#{u_status},#{u_photo}
		)
	</insert>
	<delete id="delete">
		delete from tbl_user
		where u_code=#{u_code}
	</delete>
	<update id="update">
 	 	update tbl_user
 	 	set u_name=#{u_name}, u_address=#{u_address},
 	 	u_pass=#{u_pass},u_date=now()
 	 	where u_code=#{u_code}
 	 </update>
</mapper>