<form name="frm" method="post">
    <table width="700">
        <tr>
            <td>교수번호</td>
            <td><input type="text" name="pcode" value="<%=ncode%>" readonly></td>
        </tr>
        <tr>
            <td>교수이름</td>
            <td><input type="text" name="pname"></td>
        </tr>
        <tr>
            <td>교수학과</td>
            <td>
                <select name="dept">
                    <option value="전자">전자공학과</option>
                    <option value="전산" selected>컴퓨터공학과</option>
                    <option value="건축">건축공학과</option>
                    <option value="통신">컴퓨터통신학과</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>임용일자</td>
            <td>
                <input type="text" name="yy" size="4" maxlength="4" value="2022"> 년&nbsp;&nbsp;
                <input type="text" name="mm" size="2" maxlength="2" value="07"> 월&nbsp;&nbsp;
                <input type="text" name="dd" size="2" maxlength="2" value="01"> 일&nbsp;&nbsp;
            </td>
        </tr>
        <tr>
            <td>교수직급</td>
            <td>
                <input type="radio" name="title" value="정교수"> 정교수&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="title" value="부교수" checked> 부교수&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="title" value="조교수"> 조교수&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
        </tr>
        <tr>
            <td>교수급여</td>
            <td><input type="text" name="salary"></td>
        </tr>
    </table>
    <div class="buttons">
        <button type="submit">교수등록</button>
        <button type="reset">등록취소</button>
    </div>
</form>
<script>
    $(frm).on("submit", function(e){
        e.preventDefault();
        var pname=$(frm.pname).val();
        var salary=$(frm.salary).val();

        if(pname==""){
            alert("교수이름을 입력하세요!");
            $(frm.pname).focus();
            return;
        }

        if(salary.replace(/[0-9]/g,'') || salary==""){
            alert("교수급여를 숫자로 입력하세요!");
            $(frm.salary).focus();
            $(frm.salary).val("");
            return;
        }

        if(!confirm("새로운 교수를 등록하실래요?")) return;
        frm.submit();
    })
</script>