<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  <style>
    .right {
      float: right;
    }
    .userid {
      color: green;
      font-weight: bold;
    }
  </style>
  </head>
  <body>
    <div id="top">
      <img src="/images/back.jpg" width="960">
    </div>
    <div id="menu">
      <span class="item"><a href="/">Home</a></span>
      
      <% if(userid==null) { %>
        <span class="item right"><a href="/users/login">로그인</a></span>
      <% } else { %>
        <span class="item"><a href="/books">도서관리</a></span>
        <span class="item right"><a href="/users/logout">로그아웃</a></span>
        <span class="userid right"><%=userid%>님</span>
      <% } %>
    </div>
    <div id="middle">
      <h1><%= title %></h1>
      <%- include(pageName) %>
    </div>
    <div id="bottom">
      <h3>Copyright 2022. 인천일보 아카데미 All right reserved.</h3>
    </div>
  </body>
</html>
