.App {
  text-align: center;
}

table {
  margin: 0px auto;
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid gray;
  padding: 10px;
}

input {
  margin-right: 10px;
  padding: 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
}

.item {
  padding: 5px 20px;
  background: aqua;
  margin: 10px;
  color: white;
  cursor: pointer;
}
