<br/>
<p>
해달 보노보노, 다람쥐 포로리, 라쿤 너부리의 숲속 생활을 그린 이가라시 미키오의 만화.
일본에서 매우 큰 인기를 누리고 있어 1986년부터 지금까지 연재가 이어지는 장수 4컷 만화다. 다만 4컷 만화여서 그런지 단행본 발매 텀이 1년에 한 권 정도로 극악하게 길다. 한국에서는 과거 엄청난 히트를 친 추억의 애니로 기억되고 있다.
</p>