<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <body>
    <div id="top">
      <a href ="/">
        <img src="/images/back.jpg" width="960" height="300">
      </a>
    </div>
    <div id="menu">
      <span class="item"><a href="/users/">사용자 목록</a></span>
      <span class="item"><a href="/posts/">게시판 목록</a></span>
      <span class="item"><a href="">아이템3</a></span>
    </div>
    <div id="middle">
      <h1><%=title%></h1>
      <%-include(pageName)%>
    </div>
    <div id="bottom">
      <h3>Copyright 2022. 인천일보아카데미 All rights reserved.</h3>
    </div>
  </body>
</html>
