<form method="post" name="frm" enctype="multipart/form-data">
    <table>
        <tr>
            <td width="100">등록아이디:</td>
            <td width="800">
                <input type="text" name="userid" size="10" value="green">
            </td>
        </tr>
        <tr>
            <td width="100">도서제목:</td>
            <td width="800">
                <input type="text" name="title" size="90">
            </td>
        </tr>
        <tr>
            <td width="100">도서가격:</td>
            <td width="800">
                <input type="text" name="price" size="10"> 원
            </td>
        </tr>
        <tr>
            <td width="100">도서이미지:</td>
            <td width="800">
                <img id="image" src="https://via.placeholder.com/200x250" width="200">
                <br>
                <input type="file" name="image" style="display:none;">
            </td>
        </tr>
        <tr>
            <td width="100">도서내용:</td>
            <td width="800">
                <textarea cols="90" rows="5" name="contents"></textarea>
            </td>
        </tr>
    </table>
    <div class="buttons">
        <button type="submit">저장</button>
        <button type="reset">취소</button>
    </div>
</form>
<script>
    //저장버튼을 클릭한 경우
    $(frm).on("submit", function(e){
        e.preventDefault();
        var title=$(frm.title).val();
        var price=$(frm.price).val();
        var image=$(frm.image).val();

        if(title==""){
            alert("도서제목을 입력하세요!");
            $(frm.title).focus();
            return;
        }

        if(price.replace(/[0-9]/g,'') || price==""){
            alert("도서가격을 숫자로 입력하세요!");
            $(frm.price).val("");
            $(frm.price).focus();
            return;
        }

        if(image==""){
            alert("이미지를 선택하세요!");
            return;
        }

        if(!confirm("상품을 등록하실래요?")) return;
        frm.submit();
    })

    //이미지 미리보기
    $(frm.image).on("change", function(e){
        var reader=new FileReader();
        reader.onload=function(e){
            $("#image").attr("src", e.target.result);
        }
        reader.readAsDataURL(this.files[0]);
    });

    $("#image").on("click", function(){
        $(frm.image).click();
    });
</script>