<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <body>
    <div id="top">
      <img src="/images/top.png" width="960px">
    </div>

    <div id="menu">
      <span class="item"><a href="/">Home</a></span>
      <span class="item"><a href="/books">도서관리</a></span>
    </div>

    <div id="middle">
      <h1><%= title %></h1>
      <%- include(pageName) %>
    </div>
    <div id="bottom">
      <h3>Copyright 2022. 인천일보 아카데미 All right reserved.</h3>
    </div>
  </body>
</html>
